<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title %> | Checklist Inteligentes</title>
    <%- include ('partials/head.html')%>
</head>
<body>
    <div id="page">
        <div class="row" id="menu">
            <div class="container">
                <div class="col-md-12">
                    <ul class="link_menu">
                        <li><a href="/">Uluhlu</a></li>
                        <li><a href="/comingsoon">Precios</a></li>
                        <li><a href="/comingsoon">Blog</a></li>
                        <li><a href="/comingsoon">Más</a></li>
                        <li><a href="/users/signin">Ingresar</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row" id="banner">
            <div class="container">
                <div class="row" style="margin: 0;">
                    <div class="col-md-6">
                        <img src="/img/logo_nuevo.png" class="mb-4 mt-2" alt="">
                        <h1>Plataforma #1 de Checklist Inteligentes</h1>
                        <p>Es hora de hacer checklist realmente funcionales, que te permitan ser más productivo y a su vez tener todo más organizado.</p>
                        <a href="/users/signup" class="btn btn-secondary">Crear cuenta</a>
                        <h6>Siempre libre. Configurar en minutos. No se requiere tarjeta de crédito.</h6>
                    </div>
                    <div class="col-md-6">
                        <img src="/img/img--homepage__hero@1.5x-straight-4dc2c4dc.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="about">
            <div class="container">
                <div class="row" style="margin: 0;">
                    <div class="col-md-6">
                        <img src="/img/img--homepage__plan@2x-b94bf378.jpg" alt="">
                    </div>
                    <div class="col-md-6">
                        <h2>Organiza tus tareas de una forma eficiente y productiva</h2>
                        <p>Pase menos tiempo organizando su tiempo y más tiempo cumpliendo sus sueños.</p>
                        <li>
                            <img src="/img/check_b.png" alt="">
                            <span><b>Fácil de usar</b>Intuitivo y fácil de usar, puede comenzar a programar tareas en minutos</span>
                        </li>
                        <li>
                            <img src="/img/check_b.png" alt="">
                            <span><b>Planifique su tiempo con arrastrar y soltar</b>Obtenga una vista previa de sus tareas antes de ejecutarlas en tiempo real</span>
                        </li>
                        <li>
                            <img src="/img/check_b.png" alt="">
                            <span><b>Programar automáticamente</b>Recibe alertas! no te quedes sin realizar ninguna tarea</span>
                        </li>
                        <a href="/users/signup" class="btn btn-secondary">Crear cuenta</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="disponible">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <img src="/img/img--homepage__appcta@2x-062d645b.png" alt="">
                    </div>
                    <div class="col-md-6">
                        <h2>Accede más tarde en escritorio o móvil.</h2>
                        <div>
                            <a href="https://play.google.com/store?hl=es" target="_blank">
                                <img src="/img/disponible-google-play.png" alt="">
                            </a>
                            <a href="https://www.apple.com/la/ios/app-store/" target="_blank">
                                <img src="/img/logo-appstore.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="gratis">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>De uso gratuito durante el tiempo que desees</h1>
                        <a href="/users/signup" class="btn btn-secondary">Crear cuenta</a>
                        <h6>Siempre libre. Configurar en minutos. No se requiere tarjeta de crédito.</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-10">
                        <a href="/"><img src="/img/logo_nuevo.png" alt=""></a>
                    </div>
                    <div class="col-md-3">
                        <li><a href="/comingsoon">Precios</a></li>
                        <li><a href="/comingsoon">Blog</a></li>
                        <li><a href="/comingsoon">Más</a></li>
                        <li><a href="/users/signin">Ingresar</a></li>
                        <li><a href="/users/signup">Crear cuenta</a></li>
                    </div>
                    <div class="col-md-3">
                        <h5>Características</h5>
                        <li><a href="/comingsoon">Link 1</a></li>
                        <li><a href="/comingsoon">Link 2</a></li>
                        <li><a href="/comingsoon">Link 3</a></li>
                        <li><a href="/comingsoon">Link 4</a></li>
                        <li><a href="/comingsoon">Link 5</a></li>
                        <li><a href="/comingsoon">Link 6</a></li>
                        <li><a href="/comingsoon">Link 7</a></li>
                        <li><a href="/comingsoon">Link 8</a></li>
                    </div>
                    <div class="col-md-3">
                        <h5>Guías</h5>
                        <li><a href="/comingsoon">Link 1</a></li>
                        <li><a href="/comingsoon">Link 2</a></li>
                        <li><a href="/comingsoon">Link 3</a></li>
                        <li><a href="/comingsoon">Link 4</a></li>
                        <li><a href="/comingsoon">Link 5</a></li>
                        <li><a href="/comingsoon">Link 6</a></li>
                        <li><a href="/comingsoon">Link 7</a></li>
                    </div>
                    <div class="col-md-3">
                        <h5>Alianzas</h5>
                        <a href="https://www.miguayaba.com/" target="_blank"><img src="/img/logo_mg.png" alt=""></a>
                    </div>
                    <div class="col-md-12">
                        <ul>
                            <li><a href="/comingsoon">Términos y Condiciones</a></li>
                            <li><a href="/comingsoon">Políticas de Privacidad</a></li>
                        </ul>
                        <ul>
                            <a href="https://www.instagram.com/" target="_blank"><img src="/icons/instagram.svg" alt=""></a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include ('partials/scripts.html')%>
</body>
</html>